#Left {
    float: left;
    width: 20%;
}

#Right {
    float: left;
    width: 80%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background: #cccccc;
    color: #fff;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
