@charset "utf-8";
@import url("color-kody.css");
body {
	/*font-weight: bold;*/
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-top: 0px
}
h1, h2 {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", sans-serif;
	text-align: center;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px
}
h2 { font-size: 20px; }
.com, .com2 { }
.post-text { background-color: #EBECEB }
pre.code { }
code {
	font-size: 14px;
	font-weight: bold;
	font-family: "Courier New", monospace
}
pre { word-wrap: break-word }
.post-text {
	margin-top: 0px;
	min-height: 0px;
	width: 100%;
	margin-bottom: 0px
}
div.tytul {
	margin: 2px auto 0 auto;
	padding-left: 4px;
	padding-right: 4px;
	clear: both
}
#head {
	min-height: 70;
	font-weight: 600;
	color: #cfcfcf;
	left: 0;
	top: 0
}
