@charset "utf-8";
.nieb {
	color: #006DF1;	
}
.ziel { color: #057B00; }
.komentarz {
	color: #8F8F8F;
	font-style: italic;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 13px;
}
.w2 {margin-left: 2em;}
.w3 {margin-left: 3em;}
.w4 {margin-left: 4em;}
.w6 {margin-left: 6em;}
.w9 {margin-left: 9em;}
.w11 {margin-left: 11em;}
.w16 {margin-left: 16em;}
